/*
 *  This css theme is optional and should not be included in
 *  your page unless you want a very similar look like in our demo
 */

/* Top level nav */
.aria-menu {
  margin: 20px 0;
  background: #DDD;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#DDD), to(#999));
  background-image: -moz-linear-gradient(top, #DDD, #999);

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;

  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

/* Dropdowns */
.aria-menu ul {
  -webkit-transition: 0.1s linear opacity;

  min-width: 150px;
  background: #333;
  background: rgba(0, 0, 0, 0.9);

  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

/* Top level nav items */
.aria-menu li > a {
  padding: 10px 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  color: #333;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 -1px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

/* Top level hover state, preserve hover state when hovering dropdown  */
.aria-menu .menuitem-focus > a,
.aria-menu.css-fallback li > a:hover,
.aria-menu.css-fallback li > a:focus,
.aria-menu.css-fallback li:focus > a,
.aria-menu.css-fallback li:hover > a {
  background: #999;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999), to(#DDD));
  background-image: -moz-linear-gradient(top, #999, #DDD);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4), 0 -1px 0 rgba(255, 255, 255, 0.2);
  outline: 0;
}

/* Rounded corners for first top level nav item */
.aria-menu > li:first-child > a {
  border-left: 0;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

/* Rounded corners for last top level nav item */
.aria-menu > li:last-child > a {
  border-right: 0;
  -webkit-border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  -moz-border-radius-bottomright: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* Drop down menu item */
.aria-menu ul a {
  color: #FFF;
  font-size: 12px;
  text-shadow: none;
  border: 1px solid #222;
  border-width: 0 0 1px;
  -webkit-transition: 0.1s linear all;
}

/* Rounded corners for ul and last list item */
.aria-menu ul,
.aria-menu ul li:last-child a {
  border: 0;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* Drop down menu item hover state  */
.aria-menu ul .menuitem-focus > a,
.aria-menu.css-fallback ul a:hover,
.aria-menu.css-fallback ul a:focus {
  background: #EEE;
  color: #333;
  text-shadow: none;
}